html {
    scroll-behavior: smooth;
  }

*{
    font-family: 'Proxima Nova Regular';
    text-decoration: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

img{
    object-fit: cover;
    object-position: center;
}

p{
    margin-top: 30px;
}

button{
    border: none;
    background: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

input{
    border: none;
    background: none; 
    outline: none;
    text-indent: 10px;
}

input{
    object-fit: cover;
    object-position: center;
}

.head-text{
    font-family: 'Intro-Black';
    font-size: 30px;
    font-weight: 900;
}


/* onscroll animation */

.onscroll-anim-disactive{
    transition: 800ms;
}
.onscroll-anim-top{
    transform: translate(0px , 40%);
    opacity: 0;
}
.onscroll-anim-left{
    transform: translate(-40% , 0%);
    opacity: 0;
}
.onscroll-anim-right{
    transform: translate(40% , 0%);
    opacity: 0;
}
.onscroll-anim-active{
    transform: translate(0px , 0px);
    opacity: 1;
}


/* header */

header{
    width: 100%;
    height: 70px;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.logo{
    display: flex;
    max-width: 200px;
    max-height: 100%;
}

.header-navigation-block{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-navigation-link{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.header-right-block{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-right-phone{
    font-size: 14px;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-right-lang-box{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.header-right-lang-icon{
    max-width: 19px;
    max-height: 16px;
}

.header-right-lang-arrow{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: 400ms;
}

.header-right-other-lang-box{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 0px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    padding: 0px;
    overflow: hidden;
    transition: 400ms;
}

.other-lang-elem{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.other-lang-icon{
    max-width: 19px;
    max-height: 16px;
}

.burger{
    width: 20px;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20%;
    grid-gap: 20%;
    display: none;
    position: relative;
}

.burger-line{
    background-color: black;
}

.burger-header-navigation-block{
    width: 100px;
    height: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    position: absolute;
    top: 100%;
    right: 0%;
    overflow: hidden;
    transition: 800ms;
}




/*         content */

.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    overflow-x: hidden;
}


/*   top */
.content-top{
    width: 100%;
    height: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content-top-head{
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    background-image: url(/files/images/content_img.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

.content-top-head-back{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
}

.content-top-head-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.content-top-head-text{
    font-family: 'Intro-Black';
    font-size: 60px;
    font-weight: 900;
    color: #FAF0C2;
}

.content-top-head-descr{
    font-size: 30px;
    font-weight: 400;
    color: #FAF0C2;
}

.content-top-head-btn{
    border: 1px solid #FAF0C2;
    color: #FAF0C2;
    font-size: 25px;
    font-weight: 300;
    padding: 15px 40px;
    position: relative;
    z-index: 1;
    transition: 400ms;
    overflow: hidden;
}

.content-top-head-btn-text{
    position: relative;
    z-index: 1;
}

.content-top-head-btn-wawe{
    width: 40%;
    height: 200%;
    background-color: #FAF0C2;
    border-radius: 50%;
    position: absolute;
    top: 100%;
}

.content-top-head-btn-wawe-1{
    left: -10%;
    transition: 400ms;
}

.content-top-head-btn-wawe-2{
    left: 15%;
    transition: 400ms ease 50ms;
}

.content-top-head-btn-wawe-3{
    left: 40%;
    transition: 400ms ease 100ms;
}

.content-top-head-btn-wawe-4{
    left: 65%;
    transition: 400ms ease 150ms;
}

.content-top-head-btn:hover{
    color: black;
    box-shadow: 0px 5px 20px #FAF0C2;
}

.content-top-head-btn:active{
    transform: translateY(2px);
    box-shadow: 0px 5px 10px #FAF0C2;
}

.content-top-head-btn:hover .content-top-head-btn-wawe{
    top: -50%;
}

.content-top-foot{
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-top-foot-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.content-top-foot-location{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 7px;
}

.content-top-foot-location-info-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-top-foot-location-info-elem{
    font-size: 20px;
    font-weight: 700;
    color: black;
}


/*   center */

.content-center{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content-center-text-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-top: 100px;
}

.content-center-text-descr{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.content-center-btn{
    padding: 15px 40px;
    border: 1px solid #0F1D00;
    font-size: 25px;
    font-weight: 300;
    color: #0F1D00;
    overflow: hidden;
    transition: 400ms;
}

.content-btn-wawe{
    width: 40%;
    height: 200%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100%;
}

.content-btn-wawe-1{
    left: -10%;
    transition: 400ms;
}

.content-btn-wawe-2{
    left: 15%;
    transition: 400ms ease 50ms;
}

.content-btn-wawe-3{
    left: 40%;
    transition: 400ms ease 100ms;
}

.content-btn-wawe-4{
    left: 65%;
    transition: 400ms ease 150ms;
}

.content-center-btn:hover{
    color: white;
    box-shadow: 0px 5px 20px black;
}

.content-center-btn:active{
    transform: translateY(2px);
    box-shadow: 0px 5px 10px black;
}

.content-center-btn:hover .content-btn-wawe{
    top: -50%;
}



/*   foot */

.content-foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
}

.content-foot-list-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.content-foot-list-block{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.content-foot-list-block-head{
    font-family: 'Proxima Nova Bold';
    font-size: 20px;
    font-weight: 700;
    color: #0F1D00;
}

.content-foot-list-box{
    margin-left: 20px;
}

.content-foot-list-box-elem{
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.content-foot-line{
    width: 80%;
    height: 4px;
    background-color: #0F1D00;
}






/*        swiper */

.slider-container{
    width: 100%;
    height: 785px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.slider-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.slider-control-block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}

.slider-control-left{
    width: 335px;
    height: 46px;
    display: flex;
    position: relative;
}

.slider-control-right-btn{
    padding: 15px 40px;
    border: 1px solid #0F1D00;
    font-size: 25px;
    font-weight: 300;
    color: #0F1D00;
    overflow: hidden;
    transition: 400ms;
}

.slider-control-btn-wawe{
    width: 40%;
    height: 200%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100%;
}

.slider-control-btn-wawe-1{
    left: -10%;
    transition: 400ms;
}

.slider-control-btn-wawe-2{
    left: 15%;
    transition: 400ms ease 50ms;
}

.slider-control-btn-wawe-3{
    left: 40%;
    transition: 400ms ease 100ms;
}

.slider-control-btn-wawe-4{
    left: 65%;
    transition: 400ms ease 150ms;
}

.slider-control-right-btn:hover{
    color: white;
    box-shadow: 0px 5px 20px black;
}

.slider-control-right-btn:active{
    transform: translateY(2px);
    box-shadow: 0px 5px 10px black;
}

.slider-control-right-btn:hover .slider-control-btn-wawe{
    top: -50%;
}

.slider-control-left-btn{
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    border: 3px solid #0F1D00;
    font-size: 20px;
    font-weight: 700;
    color: #0F1D00;
    background-color: transparent;
    position: relative;
    z-index: 1;
    transition: 400ms;
}

.slider-control-left-active{
    color: #FAF0C2;
}

.slider-control-left-back{
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    background-color: #0F1D00;
    transition: 400ms;
}

.back-left-side{
    top: 0%;
    left: 0%;
}

.back-right-side{
    top: 0%;
    left: 48%;
}

.slider-block{
    width: 100%;
    height: 590px;
    position: relative;
}

.slider-box{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider-elem{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 400ms;
}

.slider-img{
    width: 100%;
    height: 100%;
    object-position: bottom;
}

.slider-prev{
    width: 55px;
    height: 55px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 27px);
    left: 25px;
    cursor: pointer;
}

.slider-next{
    width: 55px;
    height: 55px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 27px);
    right: 25px;
    cursor: pointer;
}






/*     guide */

.guide-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.guide-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.guide-block{
    width: 100%;
    height: 520px;
    display: flex;
    align-items: start;
    gap: 20px;
}

.guide-img-box{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.guide-img{
    width: 100%;
    height: 100%;
}

.guide-text-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.guide-text-head{
    font-family: 'Proxima Nova Bold';
    font-size: 20px;
    font-weight: 700;
    color: #0F1D00;
}

.guide-text-descr{
    font-size: 16px;
    font-weight: 400;
    color: #0F1D00;
}

.guide-text-list{
    font-size: 16px;
    font-weight: 400;
    color: #0F1D00;
}

.guide-text-list-elem{
    margin-left: 20px;
    line-height: 130%;
    margin-top: 5px;
}

.guide-btn{
    padding: 15px 40px;
    border: 1px solid #0F1D00;
    font-size: 25px;
    font-weight: 300;
    color: #0F1D00;
    margin: 50px 0px;
    overflow: hidden;
    transition: 400ms;
}

.guide-wawe{
    width: 40%;
    height: 200%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100%;
}

.guide-wawe-1{
    left: -10%;
    transition: 400ms;
}

.guide-wawe-2{
    left: 15%;
    transition: 400ms ease 50ms;
}

.guide-wawe-3{
    left: 40%;
    transition: 400ms ease 100ms;
}

.guide-wawe-4{
    left: 65%;
    transition: 400ms ease 150ms;
}

.guide-btn:hover{
    color: white;
    box-shadow: 0px 5px 20px black;
}

.guide-btn:active{
    transform: translateY(2px);
    box-shadow: 0px 5px 10px black;
}

.guide-btn:hover .guide-wawe{
    top: -50%;
}





/*     location */

.location-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
}

.location-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.location-reg-block{
    width: 100%;
    height: 550px;
}



.location-near-block{
    width: 74.8%;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100%;
    grid-gap: 54px;
}

.location-near-box{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
    border-radius: 5px;
}

.location-near-icon{
    width: 90px;
    height: 90px;
}

.location-near-head{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.location-near-dist{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.location-descr-block{
    width: 80%;
}

.location-btn{
    padding: 15px 40px;
    border: 1px solid #0F1D00;
    font-size: 25px;
    font-weight: 300;
    color: #0F1D00;
    margin-bottom: 50px;
    transition: 400ms;
    overflow: hidden;
}

.location-btn-wawe{
    width: 40%;
    height: 200%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    transition: 400ms;
}

.location-btn-wawe-1{
    left: -10%;
    transition: 400ms;
}

.location-btn-wawe-2{
    left: 15%;
    transition: 400ms ease 50ms;
}

.location-btn-wawe-3{
    left: 40%;
    transition: 400ms ease 100ms;
}

.location-btn-wawe-4{
    left: 65%;
    transition: 400ms ease 150ms;
}

.location-btn:hover{
    color: white;
    box-shadow: 0px 5px 20px black;
}

.location-btn:active{
    transform: translateY(2px);
    box-shadow: 0px 5px 10px black;
}

.location-btn:hover .location-btn-wawe{
    top: -50%;
}



/* visual */

.visual-container{
    width: 100%;
    height: 1000px;
}



/*     form */

.form-container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.form-wrapper{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 20px;
}

.form-left-block{
    width: 55%;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    background-image: url(/files/images/post\ 2\ night.png);
    background-size: cover;
    background-position: top;
}

.form-left-text-box{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin: 0px 0px 30px 20px;
}

.form-left-shadow{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 58.26%);
}

.form-left-text-head{ 
    font-family: 'Intro-Black';
    font-size: 40px;
    font-weight: 900;
    color: #FAF0C2;
    position: relative;
    z-index: 1;
}

.form-left-text-descr{
    font-size: 20px;
    font-weight: 400;
    color: #FAF0C2;
    position: relative;
    z-index: 1;
}

.form-right-block{
    width: 45%;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    position: relative;
}

.form-right-head{
    font-family: 'Proxima Nova Bold';
    font-size: 36px;
    font-weight: 700;
    color: #0F1D00;
    margin-top: 5px;
}

.form-right-placeholder{
    font-size: 18px;
    font-weight: 400;
    color: #0F1D00;
}

.form-right-inp{
    width: 100%;
    height: 50px;
    border: 1px solid #0F1D00;
    background-color: #FAF0C2;
    font-size: 18px;
}

.country-phone-code{
    width: 100%;
    height: 130px;
    background-color: whitesmoke;
    padding: 5px;
    display: none;
    grid-template-columns: repeat(1fr);
    grid-auto-rows: 50px;
    position: absolute;
    top: 65%;
    left: 0%;
    z-index: 1;
    overflow-y: scroll;
}

.country-code-elem{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.country-code-elem:hover{
    cursor: pointer;
    background-color: #FAF0C2;
}

.country-code-elem-name{
    font-size: 18px;
}

.country-code-elem-code{
    font-size: 16px;
}

.form-right-submit{
    width: 100%;
    height: 50px;
    background-color: #0F1D00;
    font-size: 19px;
    font-weight: 500;
    color: #FAF0C2;
}


/* modal */

.modal-back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
    left: 0%;
    z-index: 4;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0);
}

.modal-window{
    width: 70%;
    height: 70%;
    position: fixed;
    top: 100%;
    left: 15%;
    background-color: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-form-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 20px;
}

.modal-form-left-block{
    width: 55%;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    background-image: url(/files/images/swiper/exterior/image_2023-11-03_14-17-16.png);
    background-size: cover;
    background-position: top;
}

.modal-form-right-block{
    width: 45%;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    position: relative;
    gap: 10px;
    margin-right: 5px;
}

.modal-exit{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}


/*     footer */

footer{
    width: 100%;
    height: 280px;
    position: relative;
    background-color: #F5F5F5;
}

.footer-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    width: 95%;
    height: 85%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footer-left-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.footer-head{
    font-size: 32px;
    font-weight: 400;
    color: #AC8E48;
}

.footer-num{
    font-size: 32px;
    font-weight: 700;
    color: #AC8E48;
}

.footer-text{
    font-size: 16px;
    font-weight: 700;
    color: #AC8E48;
}

.footer-center-text{
    font-size: 16px;
    font-weight: 400;
    color: #AC8E48;
}



.head-text-div{
    width: 80%;
}













@media screen and (max-width: 1660px){
    .location-near-block{
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .content-foot-list-block-head{
        font-size: 17px;
    }
    .content-foot-list-box-elem{
        font-size: 15px;
    }
    .header-wrapper{
        width: 90%;
    }
    .content-top-foot-wrapper{
        width: 90%;
    }
    .content-center-text-box{
        width: 90%;
    }
    .content-foot-list-wrapper{
        width: 90%;
    }
    .content-foot-line{
        width: 90%;
    }
    .slider-wrapper{
        width: 90%;
    }
    .guide-wrapper{
        width: 90%;
    }
    .location-wrapper{
        width: 90%;
    }
    .head-text-div{
        width: 90%;
    }
    .location-descr-block{
        width: 90%;
    }
    .guide-block{
        height: auto;
    }
    .guide-img{
        min-height: 520px;
        max-height: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .header-wrapper{
        width: 98%;
    }
    .content-top-foot-wrapper{
        width: 96%;
    }
    .content-center-text-box{
        width: 96%;
    }
    .content-foot-list-wrapper{
        width: 96%;
    }
    .content-foot-line{
        width: 96%;
    }
    .slider-wrapper{
        width: 96%;
    }
    .guide-wrapper{
        width: 96%;
    }
    .location-wrapper{
        width: 96%;
    }
    .head-text-div{
        width: 96%;
    }
    .location-descr-block{
        width: 96%;
    }
    .visual-container{
        height: 800px;
    }
}

@media screen and (max-width: 1050px) {
    .header-wrapper{
        gap: 0px;
    }
    .header-navigation-block{
        gap: 15px;
    }
    .header-right-block{
        gap: 15px;
    }
    .guide-wrapper{
        gap: 100px;
    }
    .guide-block{
        flex-direction: column;
    }
    .guide-img-box{
        width: 100%;
        height: auto;
    }
    .guide-text-box{
        width: 100%;
    }
    .content-center{
        height: auto;
        margin-bottom: 50px;
    }
    .guide-second-block{
        flex-direction: column-reverse;
    }
    .country-phone-code{
        top: 75%;
    }
    .location-reg-block{
        height: 400px;
    }
}

@media screen and (max-width: 850px) {
    .content-top-foot-location-info-elem{
        font-size: 14px;
    }
    .head-text{
        font-size: 20px;
    }
    .content-top-head-text{
        font-size: 35px;
    }
    .content-top-head-descr{
        font-size: 20px;
    }
    .location-near-block{
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 170px;
        grid-gap: 20px;
    }
    .form-container{
        height: auto;
        align-items: center;
        overflow: visible;
    }
    footer{
        height: auto;
    }
    .form-wrapper{
        width: 96%;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .form-left-block{
        width: 100%;
        height: 400px;
    }
    .form-right-block{
        width: 100%;
        height: auto;
    }
    .footer-center-text{
        order: 3;
    }
    .footer-left-block{
        order: 2;
        gap: 5px;
    }
    footer{
        height: auto;
        margin-bottom: 20px;
    }
    .footer-wrapper{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    .header-navigation-link{
        font-size: 10px;
    }
    .header-right-phone{
        font-size: 10px;
    }
    .header-right-lang-box{
        font-size: 10px;
    }
    .content-top{
        height: 500px;
        gap: 20px;
    }
    .content-top-head{
        height: 80%;
    }
    .content-top-foot{
        height: 20%;
    }
    .country-phone-code{
        top: 85%;
    }
    .visual-container{
        height: 600px;
    }
    .modal-form-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .modal-window{
        width: 80%;
        height: 80%;
        left: 10%;
    }
    .modal-form-left-block{
        width: 100%;
        height: 40%;
    }
    .modal-form-right-block{
        width: 85%;
        height: 60%;
    }
    .modal-form-head{
        font-size: 20px;
    }
    .modal-exit{
        top: 40%;
    }
}

@media screen and (max-width: 750px) {
    .content-foot-list-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .form-left-descr-br{
        display: none;
    }
    .footer-left-br{
        display: none;
    }
    .content-top-foot-location-info-box{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    .footer-head{
        font-size: 20px;
    }
    .footer-num{
        font-size: 20px;
    }
    .form-left-text-head{
        font-size: 20px;
    }
    .form-left-text-descr{
        font-size: 15px;
    }
    .header-wrapper{
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .header-right-phone{
        position: absolute;
        right: 5%;
        top: 0%;
    }
    .slider-control-right-btn{
        font-size: 20px;
        padding: 8px 8px;
    }
    .slider-control-block{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }
    .slider-block{
        height: 300px;
    }
    .slider-container{
        height: auto;
        margin-bottom: 50px;
    }
    .guide-img{
        min-height: 300px;
        max-height: 350px;
    }
    .footer-wrapper{
        align-items: center;
    }
    .guide-wrapper{
        width: 96%;
    }
    .location-descr-block{
        width: 96%;
    }
    .content-center-text-box{
        margin-top: 50px;
        gap: 0px;
        width: 96%;
    }
    .visual-container{
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .form-right-head{
        font-size: 20px;
    }
    .header-navigation-block{
        display: none;
    }
    .header-navigation-link{
        font-size: 12px;
    }
    .content-top-head-text{
        font-size: 26px;
    }
    .content-top-head-descr{
        font-size: 17px;
    }
    .location-near-block{
        grid-template-columns: repeat(2, 1fr);
    }
    .header-right-phone {
        position: relative;
        right: 0%;
        top: 0%;
    }
    .burger{
        height: 10px;
        display: grid;
        grid-auto-rows: 15%;
        grid-gap: 27.5%;
    }
}