body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#map {
  height: 600px;
}

section {
  scroll-margin-top: 90px;
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 77px;
  background: rgb(245, 245, 245);
}

h3 {
  font-size: 22px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content {
  opacity: 0;
  transform: translateY(70%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

.content2 {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin-bottom: 20px;
}

.left2 {
  transform: translateX(-50%);
}

.right2 {
  transform: translateX(50%);
}

.content2.visible2 {
  opacity: 1;
  transform: translateX(0);
}

.middle-section,
.right-section,
.phone,
.language {
  display: flex;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0px 170px;
}

.logo {
  height: 80px;
}

.middle-section {
  width: 700px;
  justify-content: space-between;
  font-size: 14px;
}

.categories {
  text-decoration: none;
  color: black;
}

.right-section {
  width: 280px;
  justify-content: space-between;
}

.phone-img {
  height: 20px;
  margin: 0 4px;
}

.language-selector {
  position: relative;
  display: inline-block;
}

.current-language {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.flag {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.language-code {
  margin-right: 10px;
}

.arrow {
  transition: transform 0.3s ease;
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f4f4f4;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.language-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.9s ease;
}

.language-option:hover {
  background-color: #e4e4e4;
}

.language-selector:hover .language-dropdown {
  display: block;
  opacity: 1;
}

.language-selector:hover .arrow {
  transform: rotate(90deg);
}

.flag-img {
  height: 16px;
  margin: 0 4px;
}

.background-img {
  width: 100%;
  filter: brightness(70%);
  margin-top: 78px;
  height: 100%;
  clip-path: inset(0 0 104px 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(234, 234, 173);
  font-size: 36px;
  font-family: "PT Sans", sans-serif, bold;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.description {
  margin-top: -40px;
  font-size: 34px;
}

.choose-button {
  margin-top: 12px;
  padding: 22px 54px;
  font-size: 24px;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(234, 234, 173);
  color: rgb(234, 234, 173);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s, box-shadow 0.3s;
}

.choose-button:hover {
  background-color: rgb(234, 234, 173);
  color: black;
  background: rgba(234, 234, 173, 1);
  box-shadow: 0 8px 24px rgba(234, 234, 173, 2.9);
}

.main-content {
  padding: 170px;
  padding-bottom: -170px;
  color: #0f1d00;
}

.heading,
.main-content {
  z-index: 2;
}

.location-logo {
  height: 32px;
}

.info-container {
  margin-top: -270px;
  height: 260px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 130px;
}

.location-info {
  display: flex;
  height: 130px;
  width: 1400px;
  font-size: 20px;
  margin: 20px 0 0 0;
  flex-direction: row;
  justify-content: space-between;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
  height: 440px;
  justify-content: space-between;
}

.info-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 58px;
}

.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  display: block;
  height: 800px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fact-container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fact {
  max-width: 1300px;
  font-size: 16px;
}

.button-container {
  display: flex;
  width: 1300px;
  justify-content: center;
  margin-top: 36px;
}

.second-choose-button {
  color: #0f1d00;
  width: 300px;

  border-color: #0f1d00;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
}

.second-choose-button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 8px 36px rgba(0, 0, 0, 1.9);
}

.classes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  margin: 140px 0 70px 0;
}

.advantage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: -2px 0 -2px 0;
}

.hr-line {
  border: 4px;
  height: 4px;
  background: #0f1d00;
}

.button-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0 0;
}

.exterior {
  border: none;
  padding: 0px 16px;
  height: 46px;
  top: 1841px;
  left: 138px;
  gap: 0px;
  opacity: 0px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(234, 234, 173);
  background-color: #0f1d00;
  cursor: pointer;
}

.interior {
  padding: 0px 20px;
  height: 46px;
  top: 1841px;
  left: 138px;
  gap: 0px;
  opacity: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-left: -10px;
  border-color: #0f1d00;
  border-width: 3px;
  border-style: solid;
  color: #0f1d00;
  background-color: transparent;
  cursor: pointer;
}

.interior-container {
  position: relative;
  text-align: center;
}

.exterior-img {
  width: 100%;
  height: auto;
  margin-top: -30px;
  clip-path: inset(56px 0 56px 0);
}

.lifestyle-title {
  margin-top: -16px;
  font-weight: 900;
  margin-bottom: 60px;
}

.lifestyle-benefit,
.lifestyle-benefit-rev {
  display: flex;
  margin-bottom: 60px;
}

.lifestyle-benefit-rev {
  margin-bottom: 0px;
}

.lifestyle-description {
  margin: -20px -50px;
}

.lifestyle-benefit-rev .lifestyle-description {
  margin: 0px 0;
}

.lifestyle-benefit-rev .benefit-img {
  margin-left: -30px;
  margin-right: -140px;
}

.lifestyle-benefit-rev .benefit-img {
  margin-left: 70px;
  clip-path: inset(0 20px 70px 0px);
}

.benefit-img {
  margin-left: -70px;
  clip-path: inset(0 70px 0 70px);
}

.description-info {
  font-size: 18px;
}

.benefit-fact {
  display: flex;
  flex-direction: row;
  margin-bottom: -24px;
}

.description-fact {
  margin-left: 6px;
}

.location-container {
  margin-top: 70px;
}

.location-heading {
  font-weight: 800;
  margin-bottom: 60px;
  font-family: "Arial Black";
}

.map {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 100%;
  height: 610px;
}

.facilities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 280px;
}

.facility {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 190px;
  background-color: rgb(245, 244, 244);
  border-radius: 7px;
}

.facility-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.facility-img {
  height: 100px;
}

.facility-name {
  font-size: 18px;
}

.facility-distance {
  margin-top: -10px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.area {
  display: flex;
  flex-direction: row;
}

.area-heading {
  margin-top: 20px;
  margin-bottom: 60px;
  font-weight: bold;
}

.area-img {
  height: 560px;
  width: 660px;
  object-fit: cover;
  margin-left: -10px;
  clip-path: inset(0 0 0 10px);
}

.area-description {
  width: 1fr;
  margin-top: -20px;
  margin-left: 20px;
}

.contact-info {
  display: flex;
  padding: 0 20px;
  width: 100%;
  height: 430px;
  margin-top: -120px;
}

.contact-img-container {
  display: flex;
  position: relative;
  height: 480px;
  width: 800px;
}

.contact-img {
  height: 500px;
  width: 800px;
  padding-right: -100px;
  object-fit: cover;
  position: relative;
}

.contact-img-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 500px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.put-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 98%;
  margin: -10px 20px 0 20px;
}

.put-contact-heading {
  font-size: 36px;
}

.put-contact-text {
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0;
}

.put-contact-name {
  width: 820px;
  height: 48px;
  border-radius: 5px;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 20px;
  padding-left: 15px;
  padding-right: -200px;
}

.put-contact-send {
  width: 840px;
  margin-top: 24px;
  height: 48px;
  font-size: 18px;
  color: rgb(234, 234, 173);
  border: none;
  background: rgba(15, 29, 0, 1);
}

.contact-phone-container {
  display: flex;
}

.phone-code {
  border-radius: 5px;
  background-color: white;
  margin-right: 10px;
  border-width: 2px;
}

.contact-phone {
  padding-right: -100px;
  margin-right: 100px;
  width: 730px;
}

.dropdown {
  display: none;
  position: absolute;
  margin-top: 400px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.dropdown div {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown div:hover {
  background-color: #f1f1f1;
}

.flag {
  width: 20px;
  height: 15px;
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px; /* Adjust as necessary */
}

#selectedCountry {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 8px;
  border-right: none;
  background-color: #f9f9f9;
}

.form-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.form-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.button-container3 button {
  padding: 10px 20px;
  font-size: 19px;
  border: 3px solid #0f1d00;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-container3 button.active {
  background-color: #0f1d00;
  color: #eaeaad;
}

.button-container3 button:not(.active) {
  background-color: #fff;
  color: #0f1d00;
}

.form-popup .put-contact {
  margin-right: -100px;
}

.popup-img {
  object-fit: cover;
  height: 500px;
  width: 700px;
  border-radius: 10px;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#phoneInput {
  border: 1px solid #ccc;
  padding: 8px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 16px;
  height: 121px;
  background-color: rgba(248, 248, 248, 1);
  margin-top: 70px;
  color: rgba(15, 29, 0, 1);
}

.visual-container {
  height: 1000px;
  width: 100%;
}
